@{
}
<div class="d-flex justify-content-between">
    <h2>Add Books</h2>
    <a asp-action="Index" class="btn btn-secondary">Go Back</a>
</div>
<hr />
<div class="container mt-4">
    <div class="row">
        <div class="col-6">
            <form asp-action="Create" method="POST">
                <div class="row">
                    <div class="col-2">
                        <label>Name</label>
                    </div>
                    <div class="col-10">
                        <input class="form-control" name="Name">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-2">
                        <label>ISBN</label>
                    </div>
                    <div class="col-10">
                        <input class="form-control" name="ISBN">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-2">
                        <label>Count</label>
                    </div>
                    <div class="col-10">
                        <input class="form-control" name="Count">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-2">
                        <label>Publication</label>
                    </div>
                    <div class="col-10">
                        <input class="form-control" name="Publication">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-2">
                        <label>Level</label>
                    </div>
                    <div class="col-10">
                        <input class="form-control" name="Level">
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-2">
                        <label>Author</label>
                    </div>
                    <div class="col-10">
                        @Html.DropDownList("AuthorId", ViewBag.AuthorList, "Select Author", new { @class = "form-control" })
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-2">
                        <label>Catagories</label>
                    </div>
                    <div class="col-10">
                        @Html.DropDownList("CategoryId", ViewBag.CategroyList, "Select Category", new { @class = "form-control" })

                    </div>
                </div>


                <div class="row mt-3">
                    <div class="col-2">
                    </div>
                    <div class="col-10">
                        <button type="submit" class="btn btn-success">Submit</button>

                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
